ul {
    list-style-type: none;
    margin-top: 0px;
    padding: 0px;
    overflow: hidden;
    height: 60px;
    background-color: #345B63;
}
  
li {
    float: right;
    border-left:2px solid #bbb;
}
  
li:last-child {
    border-right: none;
}
  
li a {
    display: inline-block;
    color: white;
    text-align: center;
    height: 30px;
    padding: 20px 20px;
    text-decoration: underline;
}
  
li a:hover:not(.active) {
    background-color: #111;
}


.logo {
    width: 70px;
    height: 50px;
    background-color: #333;
    position: relative;
    bottom: 15px;
}
   
body {
    margin: 0;
    padding: 0;
    background-image: url("https://media.istockphoto.com/photos/the-perfect-setting-to-complete-work-picture-id1251629816");
}
    

nav {
    margin-bottom: 0px;
    padding: 0px;
}
 