
body {
    background-color: #FBF7F0;
    margin: 0px;
}

.h1-welcome {
    font-size: 42px;
    font-family: 'Roboto Mono', monospace;
    margin: 10px auto;
    width: 100%;
}

.logo-code {
    display: inline-block;
    padding-right: 10px;
}

.h1-welcome {
    display: inline-block;
    background-color: #D9E4DD;
    padding: 200px;
    margin: 0px;
    padding-left: 20px;
}

.div-welcome {
    text-align: center;
}

#top-nav {
    text-align: center;
    background-color: #555555;
}

li {
	display: inline-block;
    font-family: 'Source Serif Pro', serif;
    font-size: 25px;
    margin: 25px auto;
}

a {
    text-decoration: none;
	display: block;
    padding: 0px 9px;
    color: black;
}

a:hover {
    color: #D9E4DD; 
}

#top-ul {
    margin: 0px;
}

.left {
    float: left;
}

